Day 20: When should I use the "inplace" 
How "inplace" affect methods such as "drop" and "dropna", and why it always False by default.
- Using 'bfill' or 'ffill' DataFrame methods.

In [16]:
import pandas as pd

In [17]:
ufo = pd.read_csv('https://bit.ly/uforeports')

In [18]:
ufo.shape

(18241, 5)

In [19]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

For example if we want to drop the city column.

In [20]:
ufo.drop('City', axis=1, inplace=True) # Here City is name of the column and axis=1 represents columns. This will not remove the column, there is an inplace parameter which is false by default. This will not impact the underline data by default.

In [21]:
ufo.head()

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [23]:
ufo.dropna(how='any').shape # Will drop any row that has any value missing 'NaN. Here the inplace parameter is set to false so it will not remove the rows which has missing data.

(2490, 4)

In [24]:
ufo.shape

(18241, 4)

In [25]:
ufo = ufo.set_index('Time') # This will create a separate copy of ufo. So inplace can be more efficient than using the assignment statement.

In [26]:
ufo.tail()

                 Colors Reported Shape Reported State
Time
12/31/2000 23:00             NaN       TRIANGLE    IL
12/31/2000 23:00             NaN           DISK    IA
12/31/2000 23:45             NaN            NaN    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             NaN           OVAL    FL

How to use inplace set to False, can be used to explore DataFrame.? bfill back fill or ffill forward fill.