Day3: Why do some pandas commands end with parentheses, (and others don't)?

To access most of the functionality in pandas,

In [2]:
import pandas as pd

In [3]:
movies = pd.read_csv('https://bit.ly/imdbratings')

In [16]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

Now use a build in method called describe. If there is a numeric column, it will show you descriptive column.

In [6]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [8]:
movies.shape

(979, 6)

In [10]:
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [14]:
type(movies) # Object type - Which has certain data types example - attributes (description) and methods (action).

pandas.core.frame.DataFrame

movies.describe() # doesn't have required at arguments.

In [15]:
movies.describe(include=['object']) # here we can pass in a list of string, but here we are passing in an object. Only describe the column object, which you can find using dtypes.

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,Dracula,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6